@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';
@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans';
@import 'fonts/font_roboto';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-image: url(../img/bg/body.png);

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  background-color: $transpbackground;
  .inner {
    height: 250px;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;

    display: block;

    width: 98px;
    height: 98px;
    img {
      max-width: 100%;
    }
  }
  .site-title {
    font-size: 2em;

    position: absolute;
    top: 20px;
    left: 120px;
  }
  .site-description {
    font-size: 1.5em;

    position: absolute;
    top: 70px;
    left: 120px;
  }
  .phone-block {
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 30px;

    @extend .justify-child;
    a,
    span {
      font-size: 22px;

      display: inline-block;

      width: 25%;

      text-align: center;
      text-decoration: none;

      color: $light-blue;
      border-bottom: 1px dotted transparent;
      .fa {
        margin-right: 10px;
      }
    }
  }
}
nav {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  ul {
    width: 100%;

    @extend .justify-child;
    @extend .clearfix;
    li {
      position: relative;

      display: inline-block;

      width: 11%;
      height: 60px;
      margin: 0 8px;

      text-align: center;

      border: 1px solid $light-blue;
      border-radius: $base-border-radius;
      box-shadow: 0 0 15px 5px rgba(0,0,0,.7);
      a {
        display: block;

        width: 100%;

        @extend .align-center;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
        a {
          font-size: 80%;
        }
      }
      &.current-menu-item,
      &:hover {
        a {
          text-decoration: none;

          color: $light-blue;
        }
      }
      .sub-menu {
        display: none;
      }
    }
  }
}

section {
  padding: 20px 0 120px;
}
article {
  padding: 20px;

  border-radius: $base-border-radius;
  background-color: $transpbackground;

  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $transpbackground;
  .inner {
    height: $footer;
  }
  .footer-phone {
    position: relative;

    margin-bottom: 20px;
    padding: 20px 0 0;

    @extend .justify-child;
    a,
    span {
      display: inline-block;

      width: 20%;

      text-align: center;

      color: $blue;
      .fa {
        margin-right: 5px;
      }
    }
  }
  .copyright,
  .adress {
    display: block;
    float: left;

    width: 50%;

    text-align: center;
  }
}

@import 'import/print';








.mapblock {
  overflow: hidden;

  width: 100%;
  height: 560px;
  padding: 0;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.mapcenterok {
    width: 1262px;
    height: 650px;
      margin-top: -50px;
    margin-left: -272px;
}
