.wrapper .sidebarWrapper .searchConditionContainer
{
	width:232px;
    padding:3px 8px 0px 8px;
    border:0px;
    background:#efeeee;
    display:inline-block;
}
.wrapper .sidebarWrapper .searchConditionContainer .searchLabel
{
    border:0px;
    font-size: 12px;
    color:#414f5a;
	
}
.wrapper .sidebarWrapper .searchConditionContainer .searchLabelWatermark
{
    font-size: 11px;
    color:gray;
    float:left;
}
.wrapper .sidebarWrapper .searchConditionContainer .searchTextbox
{
    border:1px solid #95999f;
    padding:2px;
    display:block;
    width:166px;
    height:15px;
	float:left;
}
.wrapper .sidebarWrapper .searchConditionContainer .searchExLabelContainer
{
	clear:left;
    margin-top:9px;
    padding-bottom:10px;
    width:100%;
    height:16px;
}
.wrapper .sidebarWrapper .searchConditionContainer .searchExLabelContainer .searchExLabel
{    
    font-size: 11px;
    display:block;
    float:left;    
}
.wrapper .sidebarWrapper .searchConditionContainer .searchExLabelContainer .doubleLine
{
    margin-left:14px;
    margin-top:7px;
    width:100px;
    height:0px;
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #fff;
    float:right;
}
.wrapper .sidebarWrapper .searchConditionContainer .searchExPanel
{
    margin-left:-9px;
    margin-right:-9px;
    font-size:12px;    
}
.wrapper .sidebarWrapper .searchConditionContainer .searchExPanelOpenState
{
    display: block;
}
.wrapper .sidebarWrapper .searchConditionContainer .searchExPanelCloseState
{
    display: none;
}
/*Табы сделаный временными классами и убраны в отдельный файл*/
.wrapper .sidebarWrapper .searchConditionContainer .inputLabel
{
    margin-top:4px;
    color:#333;
}
.wrapper .sidebarWrapper .searchConditionContainer .firstInputLabel
{
    color:#333;
}
.wrapper .sidebarWrapper .searchConditionContainer .input
{
    border:1px solid #95999f;
    width:226px;
    font-size:15px;
    margin-top:3px;
    margin-left:0px;
    padding-left:4px;
    color:#333;
}
.wrapper .sidebarWrapper .searchButtonContainer
{
    margin-top:1px;
    height:33px;
    background:url("/portalonline/i/icons.png") 0px -271px repeat-x;
}
.wrapper .sidebarWrapper a.searchButton
{
    width:57px;
    height:21px;
    background: url("/portalonline/i/icons.png") -537px -21px no-repeat;
    overflow:hidden;
    cursor:pointer;
    display:block;
	float:right;
}
.wrapper .sidebarWrapper .searchButtonContainer a.searchButton:hover
{
    background: url("/portalonline/i/icons.png") -537px -42px no-repeat;
}
.wrapper .sidebarWrapper .searchButtonContainer a.searchButton:active
{
    background: url("/portalonline/i/icons.png") -537px -63px no-repeat;
}
.tundra .dijitTabContainerTop-tabs,
.tundra .dijitTabChecked,
.tundra .dijitTabPaneWrapper 
{
    border-color:#dbdbdb;
}
.wrapper .sidebarWrapper .searchResultContainer
{
    margin:1px -1px 0px -1px;
    border-top:1px solid #dbdbdb;
}
.wrapper .sidebarWrapper .searchResultContainerClose
{
    display:none;
}
.wrapper .sidebarWrapper .searchResultContainer .emtyResult
{
    height:64px;
    background:#fff;
    padding-top:18px;
}
.wrapper .sidebarWrapper .searchResultContainer .emtyResultClose
{
    display:none;
}
.wrapper .sidebarWrapper .searchResultContainer .emtyResult .infoMessage
{
    margin:0px 18px;    
}
.wrapper .sidebarWrapper .searchResultContainer .emtyResult .infoMessage .infoIcon
{
    width:34px;
    height:47px;
    background: url("/portalonline/i/icons.png") -293px -104px no-repeat;
    float:left;
}
.wrapper .sidebarWrapper .searchResultContainer .emtyResult .infoMessage .infoLabel
{
    margin-left:10px;
    float:left;
    font-size:12px;
    color:#333;
    width:170px;
    display:block;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer
{
    background:#fff;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainerClose
{
    display:none;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultListHeader
{
    height:29px;
    border:1px solid #fff;
    background:url("/portalonline/i/icons.png") -0px -304px repeat-x;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultListHeader .resultListLabel
{
    margin-left:9px;
    font-size:12px;
    color:#414f5a;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList
{
    height:200px;
    border-top:1px solid #dbdbdb;
    overflow:auto;
    padding-top:10px;
}

.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList .resultItem
{
    margin:2px 6px;
    font-size:12px;
    color:#333;
}

.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList .resultItem table{
	width:100%;
}

.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList .resultItem tr
{
   height:17px;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList .resultItem td
{
    font-size:10px;
	line-height: 1.3;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList .resultItem a
{
    font-size:11px;
}
.wrapper .sidebarWrapper .searchResultContainer .resultListContainer .resultList .resultItem .resultItemNumber
{
    width:21px;
    padding-right:10px;
    text-align:right;
    vertical-align: top;
}